{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>ScratchLayer</title>

<!-- CDN Bootstrap -->
<link href="{% static 'ScratchLayer/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'ScratchLayer/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet"/>
<script src="{% static 'ScratchLayer/jquery/jquery.min.js' %}"></script>
<script src="{% static 'ScratchLayer/bootstrap/js/bootstrap.min.js' %}"></script>

<!--Create Packet-->
<link href="{% static 'ScratchLayer/Protocols/Protocols.css' %}" rel="stylesheet"/>
<script src="{% static 'ScratchLayer/Protocols/Protocols.js' %}"></script>

<!--Drag and Drop-->
<link href="{% static 'ScratchLayer/DragandDrop/DragandDrop.css' %}" rel="stylesheet"/>
<script src="{% static 'ScratchLayer/DragandDrop/DragandDrop.js' %}"></script>

</head>
<body>

{% include 'ScratchLayer/nav.html' %}

<div class="container">
  <div class="row">
    <div class="col-lg-2" >
     <div class="panel panel-default">
        <div class="panel-heading"> Elementos</div>
        <div id="elements1" class="panel-body">
          <div id="Packet" class="Packet" draggable="true">Packet</div>
          <div id="Ethernet" class="Ethernet" draggable="true">Ethernet</div>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-heading"> Panel Principal</div>
        <div id="panelPrincipal" class="panel-body"></div>
      </div>
    </div>
  </div>
</body>
</html>