{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>ScratchLayer</title>
<script type="text/javascript">
  var iface = {}
  {% for inter in interfaces %} 
      iface["{{inter}}"]="{{inter}}"; 
  {% endfor %}
  console.log(iface);
</script>
</head>
<body>

{% include 'ScratchLayer/nav.html' %}

<div id='Pprin' class="col-xs-12" >
  <div class="row">
      <div class="col-md-1" >
       <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div id="elements1" class="panel-body">
             <div class="row col-lg-1 col-xs-12" >
              <div class="col-xs-1">
                <img id="Packet" class="icon" draggable="true"  src="{% static 'ScratchLayer/images/package.png' %}">
              </div>
              <a class="col-xs-1 colapA" type="button" data-toggle="collapse" data-target="#enlace">Enlace</a>
              <div id="enlace" class="collapse in">
                <div class="col-xs-1">
                  <img id="Ethernet" class="icon" draggable="true"  src="{% static 'ScratchLayer/images/ethernet.png' %}">
                </div>
              </div>
              <a class="col-xs-1 colapA" type="button" data-toggle="collapse" data-target="#red">Red</a>
              <div id="red" class="collapse in">
                <div class="col-xs-1">
                  <img id="ARP" class="icon"  draggable="true" src="{% static 'ScratchLayer/images/ARP.png' %}">
                </div>
                <div class="col-xs-1">
                  <img id="IP" class="icon"  draggable="true" src="{% static 'ScratchLayer/images/IP.png' %}">
                </div>
              </div>
              <a class="col-xs-1 colapA" type="button" data-toggle="collapse" data-target="#trasporte">Transp</a>
              <div id="trasporte" class="collapse in">
                <div class="col-xs-1">
                  <img id="ICMP" class="icon"  draggable="true" src="{% static 'ScratchLayer/images/ICMP.png' %}">
                </div>
                <div class="col-xs-1">
                  <img id="TCP" class="icon"  draggable="true" src="{% static 'ScratchLayer/images/TCP.png' %}">
                </div>
                <div class="col-xs-1">
                  <img id="UDP" class="icon"  draggable="true" src="{% static 'ScratchLayer/images/UDP.png' %}">
                </div>
              </div>
              <a class="col-xs-1 colapA" type="button" data-toggle="collapse" data-target="#aplicacion">App</a>
              <div id="aplicacion" class="collapse in">
                <div class="col-xs-1">
                  <img id="RIP" class="icon"  draggable="true" src="{% static 'ScratchLayer/images/RIP.png' %}">
                </div>
                <div class="col-xs-1">
                  <img id="DATA" class="icon"  draggable="true" src="{% static 'ScratchLayer/images/DATA.png' %}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="panel panel-default">
          <div class="panel-heading col-xs-12"></div>
          <div id="panelPrincipal" class="panel-body panelPrincipal"></div>
        </div>
      </div>
  </div>
</div>

<div id='Snffer' class="col-xs-12">
  <div class="row">
  <div class="col-md-2" >
       <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div id="elements1" class="panel-body">
          <form id="formSniff" method="post" onsubmit="SubmitSniff(this,event)">
            <div class='form-group col-xs-12'>
              <label class='col-xs-12' for='Filter'>Filter: </label>
              <textarea rows="2" class="form-control" name="filter" style="resize:none;"></textarea>
            </div>
            <div class='form-group col-xs-12'>
              <label class='col-xs-6' for='count'>Count: </label>                            
              <input type="text" name="count" class="col-xs-6"> 
            </div>
            <div class='form-group col-xs-12'>
              <label class='col-xs-6' for='timeout'>Timeout: </label>                            
              <input type="text" name="timeout" class="col-xs-6"> 
            </div>
            <div class='form-group col-xs-12'>
              <label class='col-xs-5' for='inface'>Iface: </label>                            
              <select name="interfaz" id="interfaces2" class="col-xs-7">
                {% for inter in interfaces %} 
                    <option value="{{inter}}">{{ inter }}</option> 
                {% endfor %}
              </select>
            </div>
            <div class='form-group col-lg-12 col-xs-6' style="text-align: right;">
              <input class='col-lg-6 col-xs-3' type='submit' id='buttonSubmitSniff' value='Start'></input>
              <button class='col-lg-6 col-xs-3' onclick="stopSniff(this,event)" type='button' id='buttonStopSniff' value='Stop' disabled="true">Stop</button>

            </div>
          </form>
          </div>
        </div>
      </div>
    <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading col-xs-12"></div>
          <div id="Sniffer" class="panel-body Sniff">
            <div class="col-xs-12" style="padding-top: 8px;">  
            <table width="100%" class="table table-striped table-hover display select " cellspacing="0" id="dataTables-Sniffer"> <!--table-bordered-->
             <thead>
                  <tr> 
                     <th><input name="select_all" value="1" type="checkbox"></th>
                      <th>Packet</th>
                 </tr>
              </thead>
                <tfoot>
                    <tr> 
                      <th></th>
                      <th style="text-align: right;">
                        <a id='buttonDownSniff' type='button' class='btn btn-default' href='javascript: void(0)' download='' disabled="true">Download</a>
                        <button class='btn btn-default' id="clearTableButton" onclick="clearTable()"  disabled="true"  >Clear</button><button class='btn btn-default' disabled="true" id="createElementsSniffButton"  onclick='createElementsSniff()'>Transfer to PP</button>
                      </th>
                  </tr>
                </tfoot>
                <tbody></tbody>
            </table>
              <div class="col-xs-12">
                <form id="formSniffpcap" method="post" onsubmit="SubmitSniffpcap(this,event)" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class='form-group col-xs-12'>
                    <input type="file" name="docfile" class="col-xs-6">
                    <input type="submit" class="col-xs-1  col-xs-offset-5" value="Submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>      
   </div>
</div>

</body>

<!-- CDN Bootstrap -->
<link href="{% static 'ScratchLayer/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'ScratchLayer/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet"/>
<script src="{% static 'ScratchLayer/jquery/jquery.min.js' %}"></script>
<script src="{% static 'ScratchLayer/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- DataTables JavaScript -->
<link href="{% static 'ScratchLayer/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">
<script src="{% static 'ScratchLayer/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'ScratchLayer/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'ScratchLayer/datatables-responsive/dataTables.responsive.js' %}"></script>

<!--utilities-->
<script src="{% static 'ScratchLayer/utilities/utilities.js' %}"></script>
<!--Create Packet-->
<link href="{% static 'ScratchLayer/Protocols/Protocols.css' %}" rel="stylesheet"/>
<script src="{% static 'ScratchLayer/Protocols/Protocols.js' %}"></script>

<!--Drag and Drop-->
<link href="{% static 'ScratchLayer/DragandDrop/DragandDrop.css' %}" rel="stylesheet"/>
<script src="{% static 'ScratchLayer/DragandDrop/DragandDrop.js' %}"></script>

<!--notify-->
<script src="{% static 'ScratchLayer/notify/notify.js' %}"></script>
</html>